@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.hero-header {
  padding: 1em;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #E0E0E0;
  position: fixed;
  z-index: 99;
}
.hero-header .hero-header__logo p {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Instrument Sans", sans-serif;
}
.hero-header .nav-bar {
  display: none;
}
.hero-header .mobile-menu {
  position: absolute;
  top: 4em;
  left: 0;
  width: 50%;
  height: 40vh;
  visibility: hidden;
  background-color: #fff;
  text-align: start;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.4s ease;
}
.hero-header .mobile-menu ul li {
  margin-top: 1em;
  list-style-type: none;
}
.hero-header .mobile-menu ul li a {
  display: inline-block;
  font-size: 1.3em;
  text-decoration: none;
  color: #000;
  padding: 0.5em;
}
.hero-header .mobile-menu ul li a:hover {
  color: #F97415;
}
.hero-header .mobile-menu.abrir {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.hero-header .menu-mobile {
  border: none;
  padding: 0.6em 0.7em;
  background-color: #fff;
  margin-right: 2em;
  text-align: center;
}
.hero-header .menu-mobile img {
  width: 2em;
}
.hero-header .menu-mobile:hover {
  background-color: #B25334;
  border-radius: 0.5em;
  color: #fff;
}
@media (min-width: 1030px) {
  .hero-header {
    padding: 1.5em;
  }
  .hero-header .nav-bar {
    display: block;
    margin-right: 2em;
  }
  .hero-header .nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
  .hero-header .nav-bar ul li {
    list-style-type: none;
  }
  .hero-header .nav-bar ul li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: #000;
    padding: 0.5em;
  }
  .hero-header .nav-bar ul li a:hover {
    color: #F97415;
  }
  .hero-header .mobile-menu {
    display: none;
  }
  .hero-header .menu-mobile {
    display: none;
  }
}

.banner {
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(178, 83, 52, 0.8), rgba(249, 116, 21, 0.8)), url(/img/banner.png);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner .banner-legends {
  padding: 3em;
  text-align: center;
}
.banner .banner-legends h1 {
  font-size: 3.5em;
  color: #fff;
  font-family: "Instrument Sans", sans-serif;
}
.banner .banner-legends p {
  font-size: 1.5em;
  margin-top: 0.5em;
  color: #fff;
}
.banner .btn-whats__link {
  display: inline-block;
  padding: 1em 1.5623em;
  background-color: #ffe8d3;
  display: flex;
  align-items: center;
  gap: 0.4em;
  color: #F97415;
  border-radius: 1em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.banner .btn-whats__link .img-whats {
  width: 2em;
  margin-right: 0.625em;
}
.banner .btn-whats__link:hover {
  background-color: #fff1e3;
  color: #e67e00;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px) scale(1.01);
  filter: brightness(1.1);
}

.div-cabecalho {
  display: none;
}
@media (min-width: 1030px) {
  .div-cabecalho {
    display: block;
    text-align: center;
    font-size: 3em;
    margin: 1em 0 0.5em 0;
    font-family: "Instrument Sans", sans-serif;
    color: #9A3D11;
    text-align: center;
  }
}

.Titulo {
  text-align: center;
  font-size: 2em;
  color: #B25334;
  margin: 0 0 1em 0;
}

.section-menu__salgados {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 1030px) {
  .section-menu__salgados {
    flex-direction: row;
  }
}
.section-menu__salgados .menu-salgados__fundoC {
  background-color: #B25334;
  border-radius: 1em 1em 0 0;
  box-shadow: 0 4px 10px rgba(100, 50, 25, 0.4);
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__h3 {
  font-size: 1.5em;
  font-family: "Instrument Sans", sans-serif;
  color: #fff;
  padding: 0.5em;
  text-align: start;
}
@media (min-width: 1030px) {
  .section-menu__salgados .menu-salgados__fundoC .menu-salgados__h3 {
    font-size: 1.9em;
  }
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item {
  width: 350px;
  height: 5em;
  margin: 0 0.5em 0.5em 0.5em;
  background-color: #fff;
  border-radius: 0.5em 0.5em 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
@media (min-width: 1030px) {
  .section-menu__salgados .menu-salgados__fundoC .menu-salgados__item {
    width: 450px;
  }
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item .item {
  color: #B25334;
  font-weight: bold;
  margin-left: 0.5em;
  width: 6.875em;
  text-align: start;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item .item {
  width: 9.375em;
  text-align: start;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item .valor {
  color: #F97415;
  font-weight: bold;
  width: 6.875em;
  text-align: center;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item .valor {
  width: 9.375em;
  text-align: center;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item .item-img {
  width: 75px;
  height: 75px;
  margin-right: 0.5em;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item:hover {
  border-left: 5px solid #D2691E;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-2 {
  width: 350px;
  height: 5em;
  margin: 0 0.5em 0.5em 0.5em;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
@media (min-width: 1030px) {
  .section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-2 {
    width: 450px;
  }
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-2 .item {
  color: #B25334;
  font-weight: bold;
  margin-left: 0.5em;
  width: 6.875em;
  text-align: start;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-2 .item {
  width: 9.375em;
  text-align: start;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-2 .valor {
  color: #F97415;
  font-weight: bold;
  width: 6.875em;
  text-align: center;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-2 .valor {
  width: 9.375em;
  text-align: center;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-2 .item-img {
  width: 75px;
  height: 75px;
  margin-right: 0.5em;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-2:hover {
  border-left: 5px solid #D2691E;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-3 {
  width: 350px;
  height: 5em;
  margin: 0 0.5em 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
@media (min-width: 1030px) {
  .section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-3 {
    width: 450px;
  }
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-3 .item {
  color: #B25334;
  font-weight: bold;
  margin-left: 0.5em;
  width: 6.875em;
  text-align: start;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-3 .item {
  width: 9.375em;
  text-align: start;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-3 .valor {
  color: #F97415;
  font-weight: bold;
  width: 6.875em;
  text-align: center;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-3 .valor {
  width: 9.375em;
  text-align: center;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-3 .item-img {
  width: 75px;
  height: 75px;
  margin-right: 0.5em;
}
.section-menu__salgados .menu-salgados__fundoC .menu-salgados__item-3:hover {
  border-left: 5px solid #D2691E;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.section-menu__Café {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 1030px) {
  .section-menu__Café {
    flex-direction: row;
    margin-bottom: 3em;
  }
}
.section-menu__Café .menu-salgados__fundoC {
  background-color: #B25334;
  border-radius: 1em 1em 0 0;
  box-shadow: 0 4px 10px rgba(100, 50, 25, 0.4);
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__h3 {
  font-size: 1.5em;
  color: #fff;
  padding: 0.5em;
  text-align: start;
}
@media (min-width: 1030px) {
  .section-menu__Café .menu-salgados__fundoC .menu-salgados__h3 {
    font-size: 1.9em;
  }
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item {
  width: 350px;
  height: 5em;
  margin: 0 0.5em 0.5em 0.5em;
  background-color: #fff;
  border-radius: 0.5em 0.5em 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
@media (min-width: 1030px) {
  .section-menu__Café .menu-salgados__fundoC .menu-salgados__item {
    width: 450px;
  }
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item .item {
  color: #B25334;
  font-weight: bold;
  margin-left: 0.5em;
  width: 6.875em;
  text-align: start;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item .item {
  width: 9.375em;
  text-align: start;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item .valor {
  color: #F97415;
  font-weight: bold;
  width: 6.875em;
  text-align: center;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item .valor {
  width: 9.375em;
  text-align: center;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item .item-img {
  width: 75px;
  height: 75px;
  margin-right: 0.5em;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item:hover {
  border-left: 5px solid #D2691E;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-2 {
  width: 350px;
  height: 5em;
  margin: 0 0.5em 0.5em 0.5em;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
@media (min-width: 1030px) {
  .section-menu__Café .menu-salgados__fundoC .menu-salgados__item-2 {
    width: 450px;
  }
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-2 .item {
  color: #B25334;
  font-weight: bold;
  margin-left: 0.5em;
  width: 6.875em;
  text-align: start;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-2 .item {
  width: 9.375em;
  text-align: start;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-2 .valor {
  color: #F97415;
  font-weight: bold;
  width: 6.875em;
  text-align: center;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-2 .valor {
  width: 9.375em;
  text-align: center;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-2 .item-img {
  width: 75px;
  height: 75px;
  margin-right: 0.5em;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-2:hover {
  border-left: 5px solid #D2691E;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-3 {
  width: 350px;
  height: 5em;
  margin: 0 0.5em 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
@media (min-width: 1030px) {
  .section-menu__Café .menu-salgados__fundoC .menu-salgados__item-3 {
    width: 450px;
  }
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-3 .item {
  color: #B25334;
  font-weight: bold;
  margin-left: 0.5em;
  width: 6.875em;
  text-align: start;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-3 .item {
  width: 9.375em;
  text-align: start;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-3 .valor {
  color: #F97415;
  font-weight: bold;
  width: 6.875em;
  text-align: center;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-3 .valor {
  width: 9.375em;
  text-align: center;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-3 .item-img {
  width: 75px;
  height: 75px;
  margin-right: 0.5em;
}
.section-menu__Café .menu-salgados__fundoC .menu-salgados__item-3:hover {
  border-left: 5px solid #D2691E;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.section-menu__Bebidas {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
.section-menu__Bebidas .menu-salgados__fundoC {
  background-color: #B25334;
  border-radius: 1em 1em 0 0;
  box-shadow: 0 4px 10px rgba(100, 50, 25, 0.4);
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__h3 {
  font-size: 1.5em;
  color: #fff;
  padding: 0.5em;
  text-align: start;
}
@media (min-width: 1030px) {
  .section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__h3 {
    font-size: 1.9em;
  }
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item {
  width: 21.875em;
  height: 5em;
  margin: 0 0.5em 0.5em 0.5em;
  background-color: #fff;
  border-radius: 0.5em 0.5em 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
@media (min-width: 1030px) {
  .section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item {
    width: 450px;
  }
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item .item {
  color: #B25334;
  font-weight: bold;
  margin-left: 0.5em;
  width: 6.875em;
  text-align: start;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item .item {
  width: 9.375em;
  text-align: start;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item .valor {
  color: #F97415;
  font-weight: bold;
  width: 6.875em;
  text-align: center;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item .item-img {
  width: 75px;
  height: 75px;
  margin-right: 0.5em;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item:hover {
  border-left: 5px solid #D2691E;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-2 {
  width: 350px;
  height: 5em;
  margin: 0 0.5em 0.5em 0.5em;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
@media (min-width: 1030px) {
  .section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-2 {
    width: 450px;
  }
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-2 .item {
  color: #B25334;
  font-weight: bold;
  margin-left: 0.5em;
  width: 6.875em;
  text-align: start;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-2 .item {
  width: 9.375em;
  text-align: start;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-2 .valor {
  color: #F97415;
  font-weight: bold;
  width: 6.875em;
  text-align: center;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-2 .valor {
  width: 9.375em;
  text-align: center;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-2 .item-img {
  width: 75px;
  height: 75px;
  margin-right: 0.5em;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-2:hover {
  border-left: 5px solid #D2691E;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-3 {
  width: 350px;
  height: 5em;
  margin: 0 0.5em 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
@media (min-width: 1030px) {
  .section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-3 {
    width: 450px;
  }
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-3 .item {
  color: #B25334;
  font-weight: bold;
  margin-left: 0.5em;
  width: 6.875em;
  text-align: start;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-3 .item {
  width: 9.375em;
  text-align: start;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-3 .valor {
  color: #F97415;
  font-weight: bold;
  width: 6.875em;
  text-align: center;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-3 .valor {
  width: 9.375em;
  text-align: center;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-3 .item-img {
  width: 75px;
  height: 75px;
  margin-right: 0.5em;
}
.section-menu__Bebidas .menu-salgados__fundoC .menu-salgados__item-3:hover {
  border-left: 5px solid #D2691E;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.section-btn__whats {
  margin: 0 auto;
  max-width: 100%;
  border-radius: 0 0 1em 1em;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1030px) {
  .section-btn__whats {
    max-width: 50%;
    border-radius: 0 0 1em 1em;
  }
}
.section-btn__whats .btn-whats__h2 {
  margin-top: 1em;
  color: #B25334;
  font-size: 2.5em;
}
@media (min-width: 1030px) {
  .section-btn__whats .btn-whats__h2 {
    font-size: 3.5em;
  }
}
.section-btn__whats .btn-whats__p {
  text-align: center;
  margin-top: 0.5em;
  font-size: 1em;
  color: #F97415;
}
@media (min-width: 1030px) {
  .section-btn__whats .btn-whats__p {
    font-size: 1.5em;
  }
}
.section-btn__whats .btn-whats__link {
  margin-top: 1em;
  display: inline-block;
  padding: 1em 1.5623em;
  background-color: #ffe8d3;
  display: flex;
  align-items: center;
  gap: 0.4em;
  color: #B25334;
  border-radius: 1em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.section-btn__whats .btn-whats__link .img-whats {
  width: 2em;
  margin-right: 0.625em;
  color: #B25334;
}
.section-btn__whats .btn-whats__link:hover {
  background-color: #fff1e3;
  color: #F97415;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px) scale(1.01);
  filter: brightness(1.1);
}

.section-cardapio {
  margin: 1em auto;
  max-width: 100%;
  border-radius: 1em 1em 0 0;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1030px) {
  .section-cardapio {
    max-width: 50%;
    border-radius: 1em 1em 0 0;
  }
}
.section-cardapio .cardapio__h2 {
  font-size: 2.5em;
  font-family: "Instrument Sans", sans-serif;
  color: #B25334;
}
@media (min-width: 1030px) {
  .section-cardapio .cardapio__h2 {
    font-size: 3.5em;
  }
}
.section-cardapio .cardapio__p {
  text-align: center;
  margin-top: 0.5em;
  font-size: 1em;
  color: #F97415;
}
@media (min-width: 1030px) {
  .section-cardapio .cardapio__p {
    font-size: 1.5em;
  }
}

.footer {
  height: 35vh;
  margin-top: 3em;
  background: linear-gradient(135deg, #B25334, #F97415);
  padding: 1em;
}
@media (min-width: 1030px) {
  .footer {
    height: 30vh;
    margin-top: 1em;
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 1030px) {
  .footer .descricao {
    margin: 0;
    width: 400px;
    height: 250px;
  }
}
.footer .descricao .logo-descricao {
  color: #fff;
  font-size: 1.5em;
  font-family: "Instrument Sans", sans-serif;
}
.footer .descricao .descricao-p {
  margin-top: 0.5em;
  line-height: 1.5em;
  color: #fff;
}
.footer .section-RedesSociais {
  margin-top: 1em;
}
@media (min-width: 1030px) {
  .footer .section-RedesSociais {
    margin: 0;
    width: 200px;
    height: 250px;
  }
}
.footer .section-RedesSociais .RedesSociais-h3 {
  font-size: 1.5em;
  color: #fff;
  font-family: "Instrument Sans", sans-serif;
}
.footer .section-RedesSociais .whats-redes {
  margin-top: 0.5em;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  text-decoration: none;
}
.footer .section-RedesSociais .insta-redes {
  margin-top: 0.5em;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  text-decoration: none;
}
.footer .localizacao {
  margin-top: 1em;
}
@media (min-width: 1030px) {
  .footer .localizacao {
    margin: 0;
    width: 200px;
    height: 250px;
  }
}
.footer .localizacao .localizacao-h3 {
  font-size: 1.5em;
  color: #fff;
  font-family: "Instrument Sans", sans-serif;
}
.footer .localizacao .localizacao-p {
  margin-top: 0.5em;
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
