// --- MIXIN ---
@mixin desktop
    @media (min-width: 1030px)
        @content

// --- RESET ---
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Inter", sans-serif

// --- HEADER ---
.hero-header
    padding: 1em
    width: 100%
    background-color: #ffffff
    display: flex
    align-items: center
    justify-content: space-between
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
    border-bottom: 1px solid #E0E0E0
    position: fixed
    z-index: 99

    .hero-header__logo
        p
            font-size: 1.5em
            font-weight: 700
            font-family: "Instrument Sans", sans-serif

    .nav-bar
        display: none

    .mobile-menu
        position: absolute
        top: 4em
        left: 0
        width: 100%
        height: 50vh
        visibility: hidden
        background-color: #fff
        text-align: start
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
        transform: translateY(-30px)
        opacity: 0
        transition: all 0.4s ease

        ul
            li
                margin-top: 1em
                list-style-type: none
                a
                    display: inline-block
                    font-size: 1.3em
                    text-decoration: none
                    color: #000
                    padding: .5em
                    &:hover
                        color: #F97415

    .mobile-menu.abrir
        visibility: visible
        transform: translateY(0)
        opacity: 1

    .menu-mobile
        border: none
        padding: 0.6em .7em
        background-color: #fff
        margin-right: 2em
        text-align: center
        img
            width: 1em

        &:hover
            background-color: #B25334
            border-radius: .5em
            color: #fff

    // --- DESKTOP 
    @include desktop
        padding: 1.5em

        .nav-bar
            display: block
            margin-right: 2em
            ul
                display: flex
                align-items: center
                justify-content: center
                gap: 2em
                li
                    list-style-type: none
                    a
                        text-decoration: none
                        font-size: 1em
                        font-weight: 600
                        color: #000
                        padding: 0.5em
                        &:hover
                            color: #F97415

        .mobile-menu
            display: none

        .menu-mobile
            display: none

.banner
    height: 100vh
    background-position: top
    background-repeat: no-repeat
    background-size: cover
    background-image: linear-gradient(
            to top,
            rgba(255, 163, 64, 0.85),
            rgba(255, 180, 90, 0.55),
            rgba(255, 210, 130, 0.2) ), url(/img/benner.jpg)
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    .banner-legends
        padding: 3em
        text-align: center
        h1
            font-size: 3.5em
            color: #fff
            font-family: "Instrument Sans", sans-serif
        p
            font-size: 1.5em
            margin-top: 0.5em
            color: #fff

    .btn-whats__link

        display: inline-block
        padding: 1em 1.5623em
        background-color: #ffe8d3
        display: flex
        align-items: center
        gap: 0.4em
        color: #F97415
        border-radius: 1em
        text-decoration: none
        font-weight: bold
        cursor: pointer
        border: none
        transition: all 0.3s ease-in-out
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
        .img-whats
            width: 2em
            margin-right: 0.625em
    .btn-whats__link:hover
        background-color: #fff1e3
        color: #e67e00
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15)
        transform: translateY(-2px) scale(1.01)
        filter: brightness(1.1)

.menu-promocao__legends
    height: 30vh
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    background-color: #ffffff
    @include desktop
        height: 35vh
    .menu-promocao__h3
        font-size: 2.5em
        font-family: "Instrument Sans", sans-serif
        color: #9A3D11

        padding-bottom: 0.2em
        text-align: center
    p
        color: #CA7027
        font-size: 1em

    @include desktop
        .menu-promocao__h3
            font-size: 4em
        p
            font-size: 2em

.grade-imgs
    background-color: #ffffff

.div-cabecalho
    display: none
    @include desktop
        display: block
        text-align: center
        font-size: 3em
        margin: 1em 0 0.5em 0
        font-family: "Instrument Sans", sans-serif
        color: #9A3D11
        text-align: center
.grade-menu
    @include desktop
        display: flex
        align-items: center
        justify-content: center
        gap: 1.6em
        margin-bottom: 0
.menu-pasteisSal
    margin-top: 3em
    display: flex
    align-items: center
    flex-direction: column
    margin-bottom: 0
    @include desktop
        height: 60vh
    .cardapios-descricao
        font-size: 3em
        margin-bottom: 1em
        font-family: "Instrument Sans", sans-serif
        color: #9A3D11
        text-align: center
        @include desktop
            display: none
    .menu-pasteisSal__header
        background-color: #CA7027
        border-radius: 1em 1em 0 0
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4)
        .cardapio-legenda
            text-align: start
            padding: 1em
            a
                text-decoration: none
                color: #fff

        .cardapio
            width: 400px
            height: 5.5em
            background-color: #fff
            display: flex
            align-items: center
            justify-content: space-between
            border: 1px solid #CA7027
            border-radius: 0.5em 0.5em 0 0
            margin: 0 0.5em 0.5em 0.5em
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
            transition: all 0.3s ease
            
            .name
                color: #9A3D11
                font-weight: bold
                margin-left: 0.5em
            .valor
                color: #9A3D11
            .img-item
                width: 100px
                height: 5em
                margin-right: 0.5em
                border-radius: 1em 1em
        .cardapio:hover
            border-left: 5px solid #D2691E
            transform: translateY(-2px)
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15)
        .cardapio-2
            margin: 0 0.5em
            width: 400px
            background-color: #fff
            height: 5.5em
            display: flex
            align-items: center
            justify-content: space-between
            border: 1px solid #CA7027
            margin: 0 0.5em 0.5em 0.5em
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
            transition: all 0.3s ease
            .name
                color: #9A3D11
                font-weight: bold
                margin-left: 0.5em
            .valor
                color: #9A3D11
            .img-item
                width: 100px
                height: 5em
                margin-right: 0.5em
                border-radius: 1em 1em
        .cardapio-2:hover
            border-left: 5px solid #D2691E
            transform: translateY(-2px)
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15)
        .cardapio-3
            width: 400px
            height: 5.5em
            background-color: #fff
            display: flex
            align-items: center
            justify-content: space-between
            border: 1px solid #CA7027
            border-radius: 0 0 0.5em 0.5em
            margin: 0 0.5em 0.5em 0.5em
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
            transition: all 0.3s ease
            .name
                color: #9A3D11
                font-weight: bold
                margin-left: 0.5em
            .valor
                color: #9A3D11
            .img-item
                width: 100px
                height: 5em
                margin-right: 0.5em
                border-radius: 1em 1em
        .cardapio-3:hover
            border-left: 5px solid #D2691E
            transform: translateY(-2px)
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15)

.div-cabecalho-2
    display: none
    @include desktop
        display: block
        text-align: center
        font-size: 3em
        margin: 1.5em 0 0.5em 0
        font-family: "Instrument Sans", sans-serif
        color: #9A3D11
        text-align: center